@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Bebas+Neue&family=Charmonman:wght@400;700&family=Chivo:wght@300&family=El+Messiri&family=Genos:wght@100;300&family=Jacques+Francois&family=Lovers+Quarrel&family=Luckiest+Guy&family=Ma+Shan+Zheng&family=Miss+Fajardose&family=Neuton:wght@200&family=Staatliches&display=swap");
.container-fluid {
  height: 100vh;
  background: black;
  color: #fff;
  font-family: 'Bebas Neue', cursive;
}

@media (max-width: 1100px) {
  .container-fluid {
    height: 100%;
  }
}

.max {
  height: 100%;
  position: relative;
}

@media (min-width: 1365px) {
  .max {
    overflow-x: hidden;
  }
}

.parent {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  font-family: 'Bebas Neue', cursive;
}

.cursor {
  --x-m:0;
  --y-m:0;
  position: absolute;
  width: 100%;
  height: 100vh;
  border-radius: 50%;
  background: black;
  left: var(--x-m);
  top: var(--y-m);
  z-index: 100;
  pointer-events: none;
  display: var(--display-mouse);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1365px) {
  .cursor {
    display: none;
  }
}

.cursor svg {
  width: 100%;
  height: 100%;
}

.cursor circle#c1 {
  stroke-dasharray: 0 100;
  stroke-dashoffset: -50;
  stroke-linecap: round;
}

.cursor h1 {
  display: var(--display-title);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.imageSlide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.imageSlide img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  --top-left-1:0%;
  --top-left-2:0%;
  --top-right-1:0%;
  --bottom-right-1:0%;
  --bottom-left-1:0%;
  --g: 10px;
  /* the gap */
  --_m:
        /* top right part*/
        linear-gradient(#000 0 0) calc(100% + var(--g)) 0% /calc(var(--top-right-1) + 10.5%) 5%, 
        linear-gradient(#000 0 0) calc(100% + var(--g)) 8% /calc(var(--top-right-1) + 10.5%) 15%, 
        linear-gradient(#000 0 0) calc(100% + var(--g)) calc(35.5% - var(--g))/calc(var(--top-right-1) + 10.5%) 25%,
        /* bottom left part*/
        linear-gradient(#000 0 0) calc(25% + 9% - var(--g) - 10px) calc(80% + var(--g))/var(--bottom-left-1) 25%,
        /* Top left part */
        linear-gradient(#000 0 0) top left/calc(var(--top-left-1) - var(--g) - 7px) 60%,
        linear-gradient(#000 0 0) top left/calc(var(--top-left-2) ) calc(50% - var(--g) - 10px),
        /* Bottom right part*/
        linear-gradient(#000 0 0) bottom right/50% var(--bottom-right-1),
        linear-gradient(#000 0 0) bottom left/calc(var(--bottom-right-1) - 3.5%) 10%,
        linear-gradient(#000 0 0) 0% 70%/calc(var(--bottom-right-1) - 30%) 10%,
        linear-gradient(#000 0 0) 0% 85%/calc(var(--bottom-right-1) - 30%) 10%;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.imageSlide .outside:nth-child(1) {
  z-index: 1;
}

.mainSlide {
  width: 100%;
  height: 100%;
  background: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .mainSlide {
    height: 1000px;
  }
}

@media (max-height: 900px) {
  .mainSlide {
    height: 600px;
  }
}

@media (max-width: 805px) and (max-height: 1000px) {
  .mainSlide {
    height: 1000px;
  }
}

@media (max-width: 805px) and (max-height: 1281px) {
  .mainSlide {
    height: 1000px;
  }
}

.mainSlide .earthTitle {
  z-index: 50;
  position: absolute;
  top: -15%;
}

@media (max-width: 450px) {
  .mainSlide .earthTitle {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
}

@media (max-width: 535px) {
  .mainSlide .earthTitle {
    width: 100%;
  }
}

.mainSlide .earthTitle .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

@media (max-width: 650px) {
  .mainSlide .earthTitle .col {
    overflow: hidden;
  }
}

.mainSlide .earthTitle .title {
  word-break: break-word;
  text-align: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 1;
}

.mainSlide .earthTitle .title svg {
  width: 100%;
  height: 100%;
}

.mainSlide .earthTitle .title image {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 90% 70%;
          transform-origin: 90% 70%;
}

.mainSlide .earthTitle .title text {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
}

.mainSlide .earthTitle .circle {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainSlide .earthTitle .circle svg {
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
}

.mainSlide .earthTitle .circle path {
  stroke-dasharray: 75 100;
  stroke-dashoffset: -10;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke: white;
}

.mainSlide .earthTitle .circle:hover path {
  -webkit-animation: animated 0.3s forwards linear;
          animation: animated 0.3s forwards linear;
}

@-webkit-keyframes animated {
  0% {
    stroke-dasharray: 0 100;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 101 100;
    stroke-dashoffset: 0;
  }
}

@keyframes animated {
  0% {
    stroke-dasharray: 0 100;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 101 100;
    stroke-dashoffset: 0;
  }
}

.mainSlide .earthTitle svg {
  width: 100%;
  height: 100%;
}

.mainSlide .earthTitle .prev, .mainSlide .earthTitle .next {
  overflow: hidden;
}

.mainSlide .earthTitle .prev .arrow, .mainSlide .earthTitle .next .arrow {
  position: absolute;
}

.mainSlide .earthTitle .next .arrow {
  left: -40%;
}

.mainSlide .earthTitle .prev .arrow {
  right: -40%;
}

.mainSlide .earthTitle .prev .circle svg {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.items {
  color: #fff;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items .col-md-4 {
  width: 350px;
  position: relative;
  row-gap: 25px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 40% 40%;
      grid-template-rows: 20% 40% 40%;
}

.items .title {
  --global-color:#83CBFF;
  --global-title-width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 5px;
  position: relative;
  overflow: hidden;
}

.items .title h1 {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 45px;
}

.items .title::after {
  content: '';
  bottom: 0;
  position: absolute;
  width: var(--global-title-width);
  height: 3px;
  background: var(--global-color);
}

.items .sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-family: 'Chivo', sans-serif;
}

.items .sub-text {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Chivo', sans-serif;
}

.items .sub-text h4 {
  font-size: 12px;
}
/*# sourceMappingURL=planetary.css.map */